@import 'bootstrap/dist/css/bootstrap.min.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow-x: hidden;
  line-height: normal;
  letter-spacing: normal;
  font-family: Arial, sans-serif;
}

.card {
  min-height: 275px;
}

.paragraph {
  font-size: 14px;
  line-height: 17px;
}

.paragraph-sm {
  font-size: 12px;
  line-height: 14px;
}
